<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818783102501-qqmr3bqu45qsgbs67k113tskcfbubtnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818783102501-qqmr3bqu45qsgbs67k113tskcfbubtnm</string>
	<key>API_KEY</key>
	<string>AIzaSyDowrmdz3Dci-TOfHyO5zkOmOXijoYY02g</string>
	<key>GCM_SENDER_ID</key>
	<string>818783102501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghosh.dummyAccount</string>
	<key>PROJECT_ID</key>
	<string>dummy-b4e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-b4e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818783102501:ios:28bda1fc3d5f2a07c501cc</string>
	<key>DATABASE_URL</key>
	<string>https://dummy-b4e7c.firebaseio.com</string>

</dict>
</plist>